{% extends 'administrator/baseAdmin.html' %}

    {% block title %}
    Teachers
{% endblock %}

{% block Teacher_active %} class="nav-link active" {% endblock %} 

{% block content %}
<h1 style="text-align: center; ; margin: 50px 50px;">Teachers</h1> 


<table class="table ms-auto mx-auto" style="width: 70%  ; margin-top: 100px;">
  <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='{% url 'administrator:AddTeacher' %}'" style="margin-left:15% ;">Add Teacher</button>
    <tr>
      <th scope="col">Teacher Id</th>
      <th scope="col">name</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in teachers %}
    <tr>
      <td>{{teacher.teacher_id}}</td>
      <td>{{teacher.name}}</td>
      <td><a href="{% url 'administrator:UpdateTeacher' teacher.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}